@media (max-width: 1130px) {

    .header__nav--link {
        width: 110px;
    }

   .header__search--btn {
       margin: 0 10px;
   }

    .header__btns--registers {
        padding: 0 80px;
        background: #000000;
    }

    .header__btns--login {
        padding: 0 20px;
    }

}

@media (max-width: 1024px) {

    .header__btns--registers {
        padding: 0 10px;
    }
}