.movie {
    display: flex;
    width: 100%;
    padding: 70px 0;
    border-bottom: 1px solid #D4D4D4;
    background-image: linear-gradient(to top right, rgb(221, 29, 235), rgb(178, 29, 193), rgb(135, 30, 152), rgb(91, 30, 110), rgb(48, 31, 69), rgb(5, 31, 27), rgb(13, 62, 55), rgb(21, 92, 83), rgb(30, 123, 111), rgb(38, 153, 139), rgb(46, 184, 167), rgb(54, 214, 195));
}

.movie__container {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.movie__left {
    display: flex;
    flex-direction: column;
    background-image: radial-gradient(rgb(0, 0, 0), rgb(1, 4, 4), rgb(1, 8, 7), rgb(2, 13, 11), rgb(2, 17, 15), rgb(3, 21, 18), rgb(3, 25, 22), rgb(4, 29, 25), rgb(4, 33, 29), rgb(5, 38, 33), rgb(5, 42, 36), rgb(6, 46, 40));
}

.movie__left--logo {
    width: 358px;
    height: 464px;
    background: url(../../img/lable.png) center center no-repeat;
}

.movie__left--trailer {
    position: relative;
    padding: 20px 0;
    padding: 20px 0;
    background: transparent;
    border: 1px solid #5671F6;
    @include classic-text;
    color: #5671F6;
}

.movie__left--trailer::before {
    position: absolute;
    top: 16px;
    left: 100px;
    width: 25px;
    height: 25px;
    background: url(../../img/play-btn.png) center center no-repeat;
    content: '';
}

.movie__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 516px;
    margin-left: 50px;
    text-align: left;

    .movie__right--title {
        @include title-text;
        color: #ebe;
    }

    .movie__right--clarification {
        @include classic-text;
        color: #A5A5A5;
    }

    .movie__right--text {
        @include classic-text;
        line-height: 1.5em;
        font-size: calc(11px + 0.437vw);
        color: #ebebeb;
    }

    .movie__information {
        display: flex;
        justify-content: space-between;

        .movie__information--left {
            display: flex;
            flex-direction: column;
        }

        .movie__position {
            display: flex;
            margin: 10px 0;
        }

        .movie__information--container {
            display: flex;
            flex-direction: column;
            margin: 10px 0;
            @include classic-text;
            font-weight: 700;
            color: #363636;
        }

        .movie__position--title {
            color: #ebe;
        }
        .movie__position--text {
            @include classic-text;
            margin-left: 1em;
            color: #ebebeb
        }
    }

    .movie__audience {
        display: flex;
        align-items: center;

        .movie__audience__percent {
            display: inline-block;
            padding: 34px 24px;
            border: 1px solid #5671F6;
            border-radius: 12px;
            @include title-text;
            color: #5671F6;
        }

        .movie__audience__rating {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            @include classic-text;
            color: #ebebeb;

            h4 {
                padding:  5px 0;
            }

            span {
                padding: 5px 0;
            }
        }
    }
}