.movie {
    position: relative;
    display: flex;
    padding: 70px 0;
}

.movie::after {
    position: absolute;
    bottom: -1px;
    left: -143px;
    width: 125.7%; /*исправлю*/
    height: 1px;
    background: #A5A5A5;
    content: '';
}

.movie__left {
    display: flex;
    flex-direction: column;
}

.movie__left--logo {
    width: 358px;
    height: 464px;
    background: url(../../img/lable.png) center center no-repeat;
}

.movie__left--trailer {
    position: relative;
    padding: 20px 0;
    padding: 20px 0;
    background: transparent;
    border: 1px solid #5671F6;
    @include classic-text;
    color: #5671F6;
}

.movie__left--trailer::before {
    position: absolute;
    top: 18px;
    left: 100px;
    width: 25px;
    height: 25px;
    background: url(../../img/play-btn.png) center center no-repeat;
    content: '';
}

.movie__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 516px;
    margin-left: 50px;
    text-align: left;

    .movie__right--title {
        @include title-text;
        font-size: 36px;
        color: #363636;
    }

    .movie__right--clarification {
        @include classic-text;
        font-size: 18px; /* пофиксить*/
        color: #A5A5A5;
    }

    .movie__right--text {
        @include classic-text;
        font-size: 14px; /* пофиксить*/
        line-height: 23px;
    }

    .movie__information {
        display: flex;
        justify-content: space-between;

        .movie__information--left {
            display: flex;
            flex-direction: column;
        }

        .movie__position {
            display: flex;
            margin: 10px 0;
        }

        .movie__information--container {
            @include classic-text;
            font-weight: 700;
            color: #363636;
            margin: 10px 0;
        }

        .movie__position--text {
            @include classic-text;
            margin-left: 30px;
        }
    }

    .movie__audience {
        display: flex;
        align-items: center;

        .movie__audience__percent {
            display: inline-block;
            padding: 34px 24px;
            border: 1px solid #5671F6;
            border-radius: 12px;
            @include title-text;
            font-size: 28px;
            color: #5671F6;
        }

        .movie__audience__rating {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            @include classic-text;
            font-size: 18px; /* пофиксить*/

            h4 {
                padding:  5px 0;
            }

            span {
                padding: 5px 0;
            }
        }
    }
}