@mixin classic-text {
    font-family: 'Roboto', sans-serif;
    /*classic-text - main text*/
    font-weight: 400;
    font-size: calc(11px + 0.237vw);
    color: #363636;
}

@mixin title-text {
    font-family: 'Roboto', sans-serif;
    /*title-text - title text*/
    font-weight: 900;
    font-size: calc(12px + 1.5vw);
    color: #000000;
}