@import './scss-components/settings';
@import './scss-components/variables';
@import './scss-components/header';
@import './scss-components/movie';
@import './scss-components/staff';
@import './scss-components/news';

body {
    background: #7c7c7c;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-width: 100%px;
    margin: 0 auto;
    background: #ffffff;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    background: #ffffff;
}