* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #D4D4D4;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 135px;
  height: 104px;
  padding: 0 30px;
  border-right: 1px solid #D4D4D4;
  font-family: 'Roboto', sans-serif;
  /*title-text - title text*/
  font-weight: 900;
  font-size: calc(12px + 1.5vw);
  color: #000000;
  text-align: center;
  color: #5671F6;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 104px;
  border-right: 1px solid #D4D4D4;
}

.header__search .header__search--btn {
  width: 16px;
  height: 16px;
  margin: 0 25px;
  padding-top: 12px;
  background: url(../../img/zoom.png) center center no-repeat;
  border: 0;
  font-size: 0;
}

.header__search .header__search--text {
  width: 9em;
  height: 40px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  /*classic-text - main text*/
  font-weight: 400;
  font-size: calc(11px + 0.237vw);
  color: #363636;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 104px;
  margin-left: auto;
}

nav .header__nav--link {
  width: 7em;
  padding: 42px 1em;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /*classic-text - main text*/
  font-weight: 400;
  font-size: calc(11px + 0.237vw);
  color: #363636;
}

nav .header__nav--link:hover {
  color: #ffffff;
  background: #a7a7a7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 15%;
  cursor: pointer;
}

nav .header__nav--link:active {
  background: #4e4e4e;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 104px;
}

.header__btns .header__btns--registers {
  padding: 0 10px;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  /*classic-text - main text*/
  font-weight: 400;
  font-size: calc(11px + 0.237vw);
  color: #363636;
  font-size: calc(10px + 0.237vw);
  color: #5671F6;
}

.header__btns .header__btns--registers:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.header__btns .header__btns--login {
  padding: 0 1.8em;
  background: #5671F6;
  font-family: 'Roboto', sans-serif;
  /*classic-text - main text*/
  font-weight: 400;
  font-size: calc(11px + 0.237vw);
  color: #363636;
  font-size: calc(10px + 0.237vw);
  color: #fff;
}

.header__btns .header__btns--login:hover {
  padding: 0 1.8em;
  background: #4256b9;
  font-family: 'Roboto', sans-serif;
  /*classic-text - main text*/
  font-weight: 400;
  font-size: calc(11px + 0.237vw);
  color: #363636;
  font-size: calc(10px + 0.237vw);
  color: #fff;
}

.movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 70px 0;
  border-bottom: 1px solid #D4D4D4;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#dd1deb), color-stop(#b21dc1), color-stop(#871e98), color-stop(#5b1e6e), color-stop(#301f45), color-stop(#051f1b), color-stop(#0d3e37), color-stop(#155c53), color-stop(#1e7b6f), color-stop(#26998b), color-stop(#2eb8a7), to(#36d6c3));
  background-image: linear-gradient(to top right, #dd1deb, #b21dc1, #871e98, #5b1e6e, #301f45, #051f1b, #0d3e37, #155c53, #1e7b6f, #26998b, #2eb8a7, #36d6c3);
}

.movie__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.movie__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: radial-gradient(black, #010404, #010807, #020d0b, #02110f, #031512, #031916, #041d19, #04211d, #052621, #052a24, #062e28);
}

.movie__left--logo {
  width: 358px;
  height: 464px;
  background: url(../../img/lable.png) center center no-repeat;
}

.movie__left--trailer {
  position: relative;
  padding: 20px 0;
  padding: 20px 0;
  background: transparent;
  border: 1px solid #5671F6;
  font-family: 'Roboto', sans-serif;
  /*classic-text - main text*/
  font-weight: 400;
  font-size: calc(11px + 0.237vw);
  color: #363636;
  color: #5671F6;
}

.movie__left--trailer::before {
  position: absolute;
  top: 16px;
  left: 100px;
  width: 25px;
  height: 25px;
  background: url(../../img/play-btn.png) center center no-repeat;
  content: '';
}

.movie__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 516px;
  margin-left: 50px;
  text-align: left;
}

.movie__right .movie__right--title {
  font-family: 'Roboto', sans-serif;
  /*title-text - title text*/
  font-weight: 900;
  font-size: calc(12px + 1.5vw);
  color: #000000;
  color: #ebe;
}

.movie__right .movie__right--clarification {
  font-family: 'Roboto', sans-serif;
  /*classic-text - main text*/
  font-weight: 400;
  font-size: calc(11px + 0.237vw);
  color: #363636;
  color: #A5A5A5;
}

.movie__right .movie__right--text {
  font-family: 'Roboto', sans-serif;
  /*classic-text - main text*/
  font-weight: 400;
  font-size: calc(11px + 0.237vw);
  color: #363636;
  line-height: 1.5em;
  font-size: calc(11px + 0.437vw);
  color: #ebebeb;
}

.movie__right .movie__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.movie__right .movie__information .movie__information--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.movie__right .movie__information .movie__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.movie__right .movie__information .movie__information--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  font-family: 'Roboto', sans-serif;
  /*classic-text - main text*/
  font-weight: 400;
  font-size: calc(11px + 0.237vw);
  color: #363636;
  font-weight: 700;
  color: #363636;
}

.movie__right .movie__information .movie__position--title {
  color: #ebe;
}

.movie__right .movie__information .movie__position--text {
  font-family: 'Roboto', sans-serif;
  /*classic-text - main text*/
  font-weight: 400;
  font-size: calc(11px + 0.237vw);
  color: #363636;
  margin-left: 1em;
  color: #ebebeb;
}

.movie__right .movie__audience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movie__right .movie__audience .movie__audience__percent {
  display: inline-block;
  padding: 34px 24px;
  border: 1px solid #5671F6;
  border-radius: 12px;
  font-family: 'Roboto', sans-serif;
  /*title-text - title text*/
  font-weight: 900;
  font-size: calc(12px + 1.5vw);
  color: #000000;
  color: #5671F6;
}

.movie__right .movie__audience .movie__audience__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  /*classic-text - main text*/
  font-weight: 400;
  font-size: calc(11px + 0.237vw);
  color: #363636;
  color: #ebebeb;
}

.movie__right .movie__audience .movie__audience__rating h4 {
  padding: 5px 0;
}

.movie__right .movie__audience .movie__audience__rating span {
  padding: 5px 0;
}

.staff {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.staff__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.staff__btns {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.staff__btns .staff__btn {
  font-family: 'Roboto', sans-serif;
  /*classic-text - main text*/
  font-weight: 400;
  font-size: calc(11px + 0.237vw);
  color: #363636;
  font-size: 24px;
  background: none;
}

.staff__btns .staff__btn:hover {
  font-family: 'Roboto', sans-serif;
  /*title-text - title text*/
  font-weight: 900;
  font-size: calc(12px + 1.5vw);
  color: #000000;
  font-size: 24px;
}

.staff__btns .staff__btns--creators {
  margin-left: 50px;
}

.staff__actors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 0px;
}

.actors__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.staff__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.staff__profile .staff__profile--logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.staff__profile .staff__profile--nikname {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}

.staff__profile .staff__profile--nikname .staff__nikname--title {
  font-weight: 700;
  font-size: calc(11px + 0.4vw);
  color: #5671F6;
}

.staff__profile .staff__profile--nikname .staff__nikname--description {
  font-family: 'Roboto', sans-serif;
  /*classic-text - main text*/
  font-weight: 400;
  font-size: calc(11px + 0.237vw);
  color: #363636;
  color: #a5a5a5;
}

.news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F3F3F3;
}

.news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.news__title {
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  /*classic-text - main text*/
  font-weight: 400;
  font-size: calc(11px + 0.237vw);
  color: #363636;
  font-size: 24px;
  font-weight: 700;
}

.news__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 60px 0;
}

.news__cards--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px;
  height: 160px;
  margin: 0px 20px;
  padding: 20px 10px 40px 10px;
  text-align: center;
  background: #ffffff;
  border-radius: 10%;
}

.news__cards--card .news__card--title {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: calc(11px + 0.3vw);
}

.news__cards--card .news__card--text {
  font-family: 'Roboto', sans-serif;
  /*title-text - title text*/
  font-weight: 900;
  font-size: calc(12px + 1.5vw);
  color: #000000;
  font-size: calc(11px + 0.4vw);
}

body {
  min-height: 100vh;
  background-image: radial-gradient(gray, #747474, dimgray, #5d5d5d, #515151, #464646, #3a3a3a, #2f2f2f, #232323, #171717, #0c0c0c, black);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  background: #ffffff;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background: #ffffff;
}

@media (max-width: 992px) {
  .section__container {
    width: 90%;
  }
  .staff__profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .staff__profile .staff__profile--nikname {
    margin: 10px 0 0 0;
  }
  .header__logo {
    width: auto;
    padding: 0 0.5em;
  }
  .header__search .header__search--btn {
    margin: 0 5px;
  }
}

@media (max-width: 720px) {
  header {
    width: 90%;
    margin: 0 auto;
  }
  .header__logo {
    border: none;
    font-size: calc(12px + 4vw);
  }
  .header__navigation {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    border: none;
  }
  .header__burger {
    position: relative;
    display: block;
    width: 40px;
    height: 5px;
    background: #000000;
  }
  .header__burger::before {
    position: absolute;
    top: -12px;
    left: 0px;
    width: 33px;
    height: 5px;
    background: #000000;
    content: '';
  }
  .header__burger::after {
    position: absolute;
    top: 12px;
    left: 0px;
    width: 33px;
    height: 5px;
    background: #000000;
    content: '';
  }
  nav {
    display: none;
  }
  .header__btns {
    display: none;
  }
  .section__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .news__container.section__container {
    overflow: scroll;
  }
  .staff__profile {
    margin: 0 15px;
  }
  .movie__right {
    width: auto;
    margin: 0;
    padding: 50px 0px 0px 0px;
  }
  .movie__left--logo {
    width: 360px;
    border: 1px solid;
  }
  .movie__left--trailer::before {
    top: 15px;
    left: 80px;
  }
  .news__cards {
    position: relative;
  }
  .news__cards--card {
    width: 193px;
  }
  .news__cards::before {
    position: absolute;
    top: 72px;
    left: 456px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 24px solid #000000;
    content: '';
  }
  .news__cards::after {
    position: absolute;
    top: 72px;
    left: 691px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 24px solid #000000;
    content: '';
  }
}

@media (max-width: 576px) {
  .movie__left--logo {
    width: 293px;
    border: 1px solid;
  }
  .actors__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .staff__profile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 20px 0;
  }
  .staff__profile .staff__profile--nikname {
    margin: 0px 0 0 23px;
  }
  .staff__profile .staff__profile--nikname .staff__nikname--title {
    font-size: calc(11px + 4.4vw);
  }
  .staff__profile .staff__profile--nikname .staff__nikname--description {
    font-size: calc(11px + 3.237vw);
  }
  .movie__right .movie__right--title {
    margin: 11px 0;
    font-size: calc(12px + 4vw);
  }
  .movie__right .movie__right--clarification {
    font-size: calc(11px + 3.237vw);
  }
  .movie__right .movie__right--text {
    margin: 20px 0;
    font-size: calc(11px + 2.237vw);
  }
  .movie__right .movie__information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .movie__right .movie__information .movie__information--container {
    margin: 0;
  }
  .movie__right .movie__information .movie__position--text {
    font-size: calc(11px + 2.237vw);
  }
  .movie__position--title {
    font-size: calc(11px + 2.237vw);
  }
  .movie__right .movie__audience .movie__audience__rating {
    font-size: calc(11px + 2vw);
  }
  .movie__right .movie__audience {
    margin-top: 30px;
  }
}
/*# sourceMappingURL=main.css.map */