@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #D4D4D4;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 135px;
  height: 104px;
  padding: 0 30px;
  border-right: 1px solid #D4D4D4;
  font-family: 'Roboto', sans-serif;
  /*title-text - title text*/
  font-weight: 900;
  font-size: calc(30px);
  color: #000000;
  text-align: center;
  color: #5671F6;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 104px;
  border-right: 1px solid #D4D4D4;
}

.header__search .header__search--btn {
  width: 16px;
  height: 16px;
  margin: 0 25px;
  padding-top: 12px;
  /*ПОФИКСИТЬ*/
  background: url(../../img/zoom.png) center center no-repeat;
  border: 0;
  font-size: 0;
}

.header__search .header__search--text {
  width: 240px;
  height: 40px;
  border: 0;
  font-family: 'Roboto', sans-serif;
  /*classic-text - main text*/
  font-weight: 400;
  font-size: calc(15px + 0.137vw);
  color: #363636;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 104px;
  margin-left: auto;
}

nav .header__nav--link {
  width: 120px;
  padding: 42px 0px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  /*classic-text - main text*/
  font-weight: 400;
  font-size: calc(15px + 0.137vw);
  color: #363636;
}

nav .header__nav--link:hover {
  color: #ffffff;
  background: #838383;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: calc(17px + 0.137vw);
  cursor: pointer;
}

nav .header__nav--link:active {
  background: #4e4e4e;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 104px;
}

.header__btns .header__btns--registers {
  padding: 0 30px;
  background: #fff;
  font-family: 'Roboto', sans-serif;
  /*classic-text - main text*/
  font-weight: 400;
  font-size: calc(15px + 0.137vw);
  color: #363636;
  color: #5671F6;
}

.header__btns .header__btns--login {
  padding: 0 40px;
  background: #5671F6;
  font-family: 'Roboto', sans-serif;
  /*classic-text - main text*/
  font-weight: 400;
  font-size: calc(15px + 0.137vw);
  color: #363636;
  color: #fff;
}

body {
  background: #7c7c7c;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
  background: #ffffff;
}
/*# sourceMappingURL=main.css.map */